.testimonials-section {
  background-color: var(--color-bg-soft);
  font-family: Arial, sans-serif;
}

.section-header {
  text-align: center;
  margin-bottom: 40px;
}

.section-subtitle {
  color: var(--color-text-soft);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
}


.testimonials-slider {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
}

.testimonials-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.testimonial-slide {
  min-width: 50%;
  height: max-content;
  box-sizing: border-box;
  padding:  10px;
}

@media (max-width: 992px) {
  .testimonial-slide {
    min-width: 100%;
  }
}

@media (max-width: 480px) {
  .testimonial-slide {
    min-width: 100%; 
  }
}

.slide-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--color-primary) !important;
  color: var(--color-text-secondary) !important;
  border: none;
  padding: 10px 14px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.7;
  z-index: 5;
}

.slide-btn:hover {
  opacity: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
